html{
    overflow: hidden;
}

body {
    background-color: rgb(233, 203, 163);
}

#title {
    font-size: 70px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(151, 73, 0);
    position: absolute;
    top: -1%;
    left: 40.5%;
    text-shadow: 0px 0px 12px rgba(110, 53, 0, 1.5);
    user-select: none;
}

#player1, #player2 {
    position: absolute;
    top: 42%;
    width: 200px;
    height: 190px;
    border-style: solid;
    border-color: black;
    border-radius: 100%;
    transition: box-shadow 0.5s ease-in-out; /* Smooth transition for shadow */
    user-select: none;
}

#player1 {
    left: 6%;
    box-shadow: none; /* Initial box-shadow for player 1 */
}

#player2 {
    left: 81%;
    box-shadow: 0px 0px 120px rgba(0, 80, 200, 1.2); /* Initial box-shadow for player 2 */
}

#board {
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    width: 375px;
    height: 375px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}

.square{
    width: 120px;
    height: 120px;
    border: 2px solid rgb(82, 82, 82);
    background-color: rgb(233, 203, 163);
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#x-o-img{
    user-select: none;
}

#turnText{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 6%;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    font-size: 25px;
    text-shadow: 0px 0px 15px rgb(151, 73, 0);
    user-select: none;
}

#resetBtn{
    padding: 5px;
    background: rgba(151, 73, 0, 0.3);
    margin-left: 30px;
    border: 2px solid rgb(151, 73, 0);
    border-radius: 5px;
    font-size: large;
    user-select: none;
}